
  .register-page {
    width: 100%;
    margin: auto;
    text-align: center;
    height: 800px;
    margin-top: 70px;
  }
  
  .user-type-selection {
    margin-top: 20px;
  }
  
  .register-form {
    margin-top: 20px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:  #4bb36d;
    color: #fff;
    cursor: pointer;
  }
 
  
  button:hover {
    background-color:  #6d706e;
  }
  input[placeholder="Host Name"],
  input[placeholder="Tourist Name"],
  input[placeholder="Email"],
  input[placeholder="Password"],
  input[placeholder="Role"],button {
  margin: 13px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width:400px;
  box-shadow: 2px 2px 5px gray;
  }
  input[placeholder="Host Name"],
  input[placeholder="Tourist Name"],
  input[placeholder="Email"],
  input[placeholder="Password"],
  input[placeholder="Role"],button {
    /* width: 100%; */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  .register-container {
    max-width: 400px;
    width: 400px;
    margin: 100px auto;
    margin-top: 0px;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  p {
    margin-top: 20px;
  }
  
  p a {
    color: #4bb36d;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }

  
  button:hover {
    background-color: #193a28;
  }